.ol-map {
    height: 800px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .ol-map {
        height: 600px; /* Измените на желаемую высоту для мобильных устройств */
    }
}

.ol-control {
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}

.ol-full-screen {
    top: .5em;
    right: .5em;
}